.platforma {
    height: 50px;
    width: 250px;
    display: block;
    position: absolute;
    background-color: dimgrey;
    top: 200px;
    left: 20px;
}


.prostokat {
    height: 150px;
    width: 200px;
    display: block;
    position: absolute;
    background-color: chocolate;
    top: 500px;
    left: 100px;
    animation: prostokat_horizontal 10s,
        prostokat_vertical 10s;
}

.kolo1 {
    height: 50px;
    width: 50px;
    display: block;
    position: absolute;
    background-color: black;
    border-radius: 100%;
    top: 650px;
    left: 120px;
    animation: kolo1_horizontal 10s,
        kolo1_vertical 10s;
    
}

.kolo2 {
    height: 50px;
    width: 50px;
    display: block;
    position: absolute;
    background-color: black;
    border-radius: 100%;
    top: 650px;
    left: 230px;
    animation: kolo2_horizontal 10s,
        kolo2_vertical 10s;
    
}

.paczka {
    height: 80px;
    width: 80px;
    display: block;
    position: absolute;
    background-color: brown;
    top: 410px;
    left: 180px;
    animation: paczka_horizontal 5s,
        paczka_vertical 5s;
    
}

.manipulator {
    height: 10px;
    width: 200px;
    display: block;
    position: absolute;
    background-color: chocolate;
    top: 490px;
    left: 100px;
    animation: manipulator_horizontal 10s,
        manipulator_vertical 10s;
}

@keyframes kolo1_horizontal {
    0% {
        left: 120px;
    }
    15% {
        left: 1090px;
    }
    25% {
        left: 1090px;
    }
    40% {
        left: 340px;
    }
    50% {
        left: 340px;
    }
    60% {
        left: 340px;
    }
    75% {
        left: 1090px;
    }
    85% {
        left: 1090px;
    }
    100% {
        left: 120px;
    }
}

@keyframes kolo1_vertical {
    0% {
        top: 650px;
    }
    15% {
        top: 650px;
    }
    25% {
        top: 330px;
    }
    40% {
        top: 330px;
    }
    50% {
        top: 330px;
    }
    60% {
        top: 330px;
    }
    75% {
        top: 330px;
    }
    85% {
        top: 650px;
    }
    100% {
        top: 650px;
    }
}

@keyframes kolo2_horizontal {
    0% {
        left: 230px;
    }
    15% {
        left: 1200px;
    }
    25% {
        left: 1200px;
    }
    40% {
        left: 450px;
    }
    50% {
        left: 450px;
    }
    60% {
        left: 450px;
    }
    75% {
        left: 1200px;
    }
    85% {
        left: 1200px;
    }
    100% {
        left: 230px;
    }
}

@keyframes kolo2_vertical {
    0% {
        top: 650px;
    }
    15% {
        top: 650px;
    }
    25% {
        top: 330px;
    }
    40% {
        top: 330px;
    }
    50% {
        top: 330px;
    }
    60% {
        top: 330px;
    }
    75% {
        top: 330px;
    }
    85% {
        top: 650px;
    }
    100% {
        top: 650px;
    }
}

@keyframes prostokat_horizontal {
    0% {
        left: 100px;
    }
    15% {
        left: 1070px
    }
    25% {
        left: 1070px;
    }
    40% {
        left: 320px;
    }
    50% {
        left: 320px;
    }
    60% {
        left: 320px;
    }
    75% {
        left: 1070px;
    }
    85% {
        left: 1070px;
    }
    100% {
        left: 100px;
    }
}

@keyframes prostokat_vertical {
    0% {
        top: 500px;
    }
    15% {
        top: 500px;
    }
    25% {
        top: 180px;
    }
    40% {
        top: 180px;
    }
    50% {
        top: 180px;
    }
    60% {
        top: 180px;
    }
    75% {
        top: 180px;
    }
    85% {
        top: 500px;
    }
    100% {
        top: 500px;
    }
}

@keyframes manipulator_horizontal {
    0% {
        left: 100px;
    }
    15% {
        left: 1070px
    }
    25% {
        left: 1070px;
    }
    40% {
        left: 320px;
    }
    50% {
        left: 320px;
    }
    60% {
        left: 320px;
    }
    75% {
        left: 1070px;
    }
    85% {
        left: 1070px;
    }
    100% {
        left: 100px;
    }
}

@keyframes manipulator_vertical {
    0% {
        top: 490px;
        transform: rotate(0deg);
    }
    15% {
        top: 490px;
        transform: rotate(0deg);
    }
    25% {
        top: 170px;
        transform: rotate(0deg);
    }
    40% {
        top: 170px;
        transform: rotate(0deg);
    }
    50% {
        top: 170px;
        transform: rotate(-40deg);
        transform-origin: left bottom;
    }
    60% {
        top: 170px;
        transform: rotate(0deg);
    }
    75% {
        top: 170px;
        transform: rotate(0deg);
    }
    85% {
        top: 490px;
        transform: rotate(0deg);
    }
    100% {
        top: 490px;
        transform: rotate(0deg);
    }
}

@keyframes paczka_horizontal {
    0% {
        left: 150px;
    }
    30% {
        left: 1120px;
    }
    50% {
        left: 1120px;
    }
    80% {
        left: 370px;
    }
    100% {
        left: 180px;
    }
}

@keyframes paczka_vertical {
    0% {
        top: 410px;
        transform: rotate(0deg);
    }
    30% {
        top: 410px;
        transform: rotate(0deg);
    }
    50% {
        top: 90px;
        transform: rotate(0deg);
    }
    80% {
        top: 90px;
        transform: rotate(0deg);
    }
    90% {
        top: 105px;
        transform: rotate(-40deg);
        transform-origin: left bottom;
    }
    100% {
        top: 120px;
        transform: rotate(0deg);
    }
}